---
import Greeting from "../components/Greetings";
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Pagina de inicio";
---

<BaseLayout pageTitle={pageTitle}>
  <h2>El impresionante subtitulo de mi blog</h2>
  <Greeting client:load messages={["Hola", "Que tal", "Hola a todos"]} />
</BaseLayout>
